<h1>就诊记录</h1>
<nz-table #nestedTable [nzData]="BS" [nzPageSize]="10">
  <thead>
  <tr>
    <th nzShowExpand></th>
    <th>编号</th>
    <th>时间</th>
    <th>检查</th>
    <th>诊断结果</th>
  </tr>
  </thead>
  <tbody>
  <ng-template ngFor let-data [ngForOf]="nestedTable.data">
    <tr>
      <td nzShowExpand [(nzExpand)]="data.expand"></td>
      <td>{{data.id}}</td>
      <td>{{data.date}}</td>
      <td><a>查看全部</a></td>
      <td>{{data.diagnosis}}</td>
    </tr>
    <tr [nzExpand]="data.expand">
      <td></td>
      <td colspan="7">
        <nz-table #innerTable [nzData]="EX" nzSize="middle" [nzShowPagination]="false">
  <thead>
  <tr>
    <th>检查方式</th>
    <th>检查结果</th>
    <th>详情</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of innerTable.data">
    <td>{{data.way}}</td>
    <td>{{data.result}}</td>
    <td><a>查看</a></td>
  </tr>
  </tbody>
</nz-table>
</td>
</tr>
</ng-template>
</tbody>
</nz-table>

